#Header {
    font-size: 65px;
}


#box {

    padding: 15px;
    margin-bottom: 40px;

    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}